<div class="list-image d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.image_url %>)">
  <%= @list.name %>
  <div class="col-sm-8 my-3">
    <%= form_with url: new_list_bookmark_path(@list), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a movie"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "shared/movie_grid", list: @list, movies: @list.movies %>
